{% load static %}

<!DOCTYPE html>
<html>
<head>

    <title>Add Expense</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/script.js' %}"></script>

</head>
<body>

<div class="sidebar">

    <div class="logo">Groceries</div>

    <a href="/">Dashboard</a>
    <a href="/summary/">Summary</a>

</div>

<div class="main">

    <div class="form-container">

        <div class="form-box">

            <h1>Add New Expense</h1>

            <br>

            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                {{ form.as_p }}

                <input type="file" name="image" onchange="previewImage(event)">

                <img id="preview" class="preview-image">

                <br><br>

                <button type="submit">Save Expense</button>

            </form>

        </div>

    </div>

</div>

</body>
</html>